*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 100px;
}
ul{
    display: flex;
    list-style: none;
    gap: 2rem;
    font-size: 1.4rem;
    margin-left: 150px;
}
.icon-cart{
    margin-left: 400px;
    gap: 1rem;
    margin-right: 100px;
}
.image{
    margin-top: 10px;
    border: 2px solid rgb(198, 131, 78);
    border-radius: 30px;
    gap: 1rem;
    margin-right: 100px;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 70px;
    
}
.div3{
    display: flex;
    justify-content: center;
    
}
.main-images{
    display: flex;
    justify-content: center;
    
}
.divbutton{
margin: auto;
align-items: center;
}